.searchforapps{
    border: 0;
    outline: 0;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 15px rgba(0,0,0,0.3);
padding: 15px 30px 15px 30px;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    display: flex;
    text-align: center;
  }
  .app-card{
    display: flex;
  flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    min-height: 350px;
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    transition: 0.7s;
  }
  .app-list{
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

  .app-image{
    background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
    object-fit: cover;
    /* aspect-ratio: inherit; */
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.7s !important;
    text-align: center;
    height: 150px;
    /* transition: ease-in-out; */
    width: 270px;
    border-radius: 15px !important;
  }

  .app-image:hover{
    border-radius: 5px !important;
    /* transition: ease-in-out; */
  }


  .app-card:hover {
    background-size: 400% 400%;
  background: linear-gradient(-45deg, rgb(115, 11, 14), rgb(10, 23, 87));
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#launchgame{
  
  margin-top: auto;

}



.context-menu {
    transition: 0.7s; 
    border-radius: 10px;
    position: absolute; 
    text-align: center; 
    background: rgba(255,255,255,0.2);
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    backdrop-filter: saturate(180%) blur(10px);
  } 

  .context-menu ul { 
    padding: 0px; 
    margin: 0px; 
    min-width: 150px; 
    list-style: none; 
  } 

  .context-menu ul li { 
    padding-bottom: 7px; 
    padding-top: 7px; 
  } 

  .context-menu ul li a { 
    transition: 0.2s;
    text-decoration: none; 
    color: #fff; 
  } 
  .context-menu ul li a:hover{
    color: rgba(255, 255, 255, 0.659);
  }

  .context-menu ul li {
    transition: 0.7s;
  }
  
  .context-menu ul li:hover { 
    border-radius: 10px;
    color: white;
    background: linear-gradient(-45deg, rgb(115, 11, 14), rgb(10, 23, 87));
  } 