@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@font-face {
    font-family: mine;
    src: url('/assets/fonts/mincrap.otf');
}
/* body {
font-family: 'Exo 2', sans-serif;
text-decoration: none;
background: var(--page);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
} */


body{
    background-color: #1c1c1c !important;
}


.fixed-nav-bar {
    top: 0;
    max-width: 100vw;
    margin: auto;

    letter-spacing: 2px;
    font-size: 22px;
    left: 0;
    right: 0;
    min-height: 10vh;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: var(--background);
    /* box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5); */
    -webkit-backdrop-filter: var(--background-filter);
    backdrop-filter: var(--background-filter);
    transition: 0.35s ease;
    border-radius: 5px;
    width: fill;
    margin-top: 15px;
    z-index: 100;
    position: absolute;
}

.fixed-nav-bar .icon:hover {
    transform: translateY(-55%) scale(1.03);
    font-weight: 800;
}

.fixed-nav-bar .icon {
    position: absolute;
    float: left;
    /* text-transform: uppercase; */
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
    color: var(--text-primary);
    font-weight: 600;
    margin-left: 5px;
    font-style: normal;
    text-decoration: none;
    transition: all 0.2s ease;
    height: 0.5vh;
    width: 0.5vh;
    top: 18%;
}

.fixed-nav-bar-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* text-transform: uppercase; */
    font-size: 18px;
    color: var(--text-primary);
    font-weight: 600;
    right: 2%;
}

.fixed-nav-bar-right .navbar-link {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 15px;
    margin-left: 10px;
    /* text-transform: uppercase; */
    font-size: 2.5vh;
    cursor: pointer;
    color: var(--text-primary);
    font-weight: 800;
    right: 2%;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    text-decoration: none;
    transition: all 0.2s ease;
    transform: translateX(0%);
}


.fixed-nav-bar-right .navbar-link:hover {
    background: rgba(0, 0, 0, 0.5);
}

@media (orientation: portrait) {
    .fixed-nav-bar-right .navbar-link {
        margin-left: 10px;
        /* text-transform: uppercase; */
        font-size: 2.5vw;
        cursor: pointer;
        color: var(--text-primary);
        font-weight: 800;
        right: 2%;
        font-family: 'Exo 2', sans-serif;
        font-style: normal;
        text-decoration: none;
        transition: all 0.2s ease;
        transform: translateX(0%);
    }
    .fixed-nav-bar-right .navbar-link:hover {
        /* text-transform: uppercase; */
        cursor: pointer;
        font-weight: 800;
        font-family: 'Exo 2', sans-serif;
        font-style: normal;
        font-size: 3vw;
        transform: translateX(-20%);
    }
}

.fixed-nav-bar-right .navbar-link:hover {
    /* text-transform: uppercase; */
    cursor: pointer;
    font-weight: 800;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-size: 3vh;
    transform: translateX(-20%);
}

.navbar-icon {
    margin-right: 5px;
    transition: all 0.2s ease;
}

.navbar-link {
    margin-right: 5px;
    font-size: 3vh;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL'0, 'wght'400, 'GRAD'0, 'opsz'48;
}

.navbar-link:hover>.settings-icon {
    animation: spin 0.5s;
    animation-timing-function: cubic-bezier(0, 1.04, 0.91, 0.99);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
 


#HYimg {
    max-width: 3vw;
   display: flex;
   flex-direction: row;
   align-items: center;
}

@media (min-width: 1000px) {
    #HYimg {
        width: 3.5vw; /* Adjust as needed */
    }
}

@media (max-width: 1200px) {
    #HYimg {
        width: 3.5vw; /* Adjust as needed */
    }
}

@media (max-width: 768px) {
    #HYimg {
        width: 3vw; /* Adjust as needed */
    }
}

@media (orientation: portrait) {
    #HYimg {
        width: 4vw;
        padding-top: 10vh;
        margin-bottom: 1vh;
    }
}


@media only screen and (min-width: 700px) {
    .fixed-nav-bar {
        display: block !important;
    }
    header {
        display: none;
    }

}

.manicontent{
    min-height: 100vh;
    z-index: 1;
    position: static;
}

.search-container{
    /* top: 80vh; */
    height: auto;
    /* flex-wrap: wrap; */
    z-index: 2;
    /* position: absolute; */
    /* min-height: 100vh; */
    align-items: center;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

#roundiconbuttonn{
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 58%;
    transition: 0.5s;
}

#roundiconbuttonn>i{
    color: #fff !important;
    /* font-size: ; */
}



#roundiconbuttonn:hover{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 20%;
}

#realtimeupdateplease{
    z-index: -1;
    max-width: 10vw;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 16px;
    /* width: 5vw; */
    border-radius: 50px;
}


.leftside{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    font-size: 16px;
}

.centerside{
    z-index: -4;
    color: #fff;
    text-decoration: none;
    bottom: 0;
    /* top: 100vh; */
    left: 0;
    /* max-width: 100v; */
    right: 0;
    margin: 2px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    /* align-items: center; */
}


a{
    color: #fff;
    text-decoration: none;
}


.notextdecor{
    color: #fff !important;
    text-decoration: none !important;
}


.legalbutton{
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.legalbutton:hover{
    color: #428bca;
    /* text-decoration: underline; */
}

.rightside{
    color: #fff !important;
    text-decoration: none !important;
    bottom: 0;
    /* top: 100vh; */
    left: 0;
    right: 0;
    margin: 10px;
    position: absolute;
    text-align: right;
    justify-content: right;
    display: flex;
    /* align-items: center; */
}






.searchbar{
    border-radius: 10px;
    padding: 12px 13px 12px 13px;
    background-color: #000;
    /* box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5);
    color: #fff;
    /* box-shadow: #fe1a1e; */
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 30vw;
    display: flex;
    align-items: center;
    transition: 0.7s;
}

.searchbar:focus{
    /* height: 10vh; */
    /* font-size: 20px; */
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.8);
    width: 40vw;
    padding: 12px 20px 12px 20px;
}

.searchbar:active{
    padding: 12px 20px 12px 20px;
}

@media only screen and (max-width: 1000px) {
    .fixed-nav-bar {
        display: none !important;
    }
    header {
        display: block;
    }
}
@media only screen and (min-width: 1000px) and (max-width:1200) {
    .fixed-nav-bar {
        display: block !important;
        padding-bottom: 10px;
    }
    header {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .fixed-nav-bar {
        display: none !important;
    }
    header {
        display: block;
    }
}

@media only screen and (max-width: 425px) {
    .fixed-nav-bar {
        display: none !important;
    }
    .header {
        display: block;
    }
}


.appscontainer{
    display: flex;

}